@model MvcBlog.Models.HomeModel
@foreach (var post in @Model.Posts)
{
    <h1>
        <a href="@post.Url">@post.Title</a>
    </h1>
    <p>@post.Summary</p>
    @Html.Partial("~/Views/Shared/_Tagged.cshtml", post)
}