@using TinyBlogNet
@model Post
<div class="post">
    <h1 class="post-title"><a href="@Model.Url">@Model.Title</a></h1>
    @Html.Raw(@Model.Content)
    @Html.Partial("~/Views/Shared/_Tagged.cshtml", @Model)
</div>