@model Post
<h1><a href="@Model.Url">@Model.Title</a></h1>
<p><i class="glyphicon glyphicon-time"></i> Posted @Model.Published.ToHumaneString() in
    @foreach (var tag in Model.Tags)
    {
        <i class="glyphicon glyphicon-tag"></i>
        <a href="@tag.Url">@tag.Name</a>
    }
</p>
<p class="lead">@Model.Summary</p>
<hr>